.fac-name {
    cursor: pointer;
    font-weight: bold;
}

.dep-list {
    opacity: 1;
    transition: all 0.5s;
    height: auto;
}

.dep-list-hidden {
    height: 0;
    position: absolute;
    left: -99999px;
    opacity: 0;
}