.subjects-cont {
    width: 70%;
    margin-top: 30px;
}

.subj-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subj-teach {
    width: 20%;
    padding-left: 10px;
    font-size: 18px;
}

.subj-type {
    opacity: 1;
    width: 10%;
    padding-left: 10px;
    font-size: 16px;
    font-style: oblique;
}

.subj-name {
    color: var(--fontColor);
    text-decoration: none;
    width: 70%;
    font-size: 18px;
}

.subj-group {
    width: 20%;
    font-size: 18px;
}