.subjects-cont {
    width: 45%;
    margin-top: 30px;
}

.subj-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subj-name {
    font-size: 18px;
    padding-left: 10px;
}

.subj-group {
    font-size: 18px;
}