* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy-Light', sans-serif;
  text-decoration: none;
  margin: 0;
  width: 100%;
  background: var(--backColor);
  max-width: 100%;
  color: var(--fontColor);
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.4vw;
}

body::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px lightgray;*/
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--textColor);
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --fontColor: #01090B;
  --textColor: #176dea;
  --textColorHover: #1358be;
  --backColor: #f8f9fa;
  --secondBackColor: #e7e7e7;
}
